body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(226, 252, 247);
    margin: 0;
    padding: 0;
    background-image: url("../img/A01.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;

}

/*colores de ejemplo rgb a usar 
1_ 108 110 148
2_ 40 51 224
3_ 176 224 141
4_ 148 93 78
5_ 224 151 130
6_ 226 252 247
*/

/*Diferentes partes de la pagina*/

aside#right{
    text-align: center;
    padding: 0%;
    margin: 2px;
    float:right;
    width: 24%;
    height: 660px;
    background-color:rgba(224, 151, 130, 0.7);
    border: 1px solid black;
    border-radius: 24px;

}

.navegacion {
    margin: 0;
    padding: 0;

}

.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

.navegacion li{
    display: inline;
    float: left;
}

.navegacion a{
    color: #111111;
    text-align: center;
    padding: 3px 12px;
    text-decoration: none;
}

.navegacion a:hover{
    margin: 0%;
    padding: 3px 12px;
    position: relative;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
}

.sin-padding {
    padding: 0 !important;
}

.navegacion-logo {
    height: 45px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.destacado {
    background-color: rgb(108, 110, 148);
    padding: 6px;
    border-radius: 4px;
}

.texto-blanco {
    color: white !important;
}

.float-right {
    float: right !important;
    right: 7.5%;
    position: absolute;
}


article.articulo{
    text-align: center;
    padding-top: 5px;
    margin: 2px;
    width: 75%;
    height: 200px;
    background-color:rgba(108, 110, 148, 0.7);
}

.plano {
    width: 300px;
}

section.seccion{
    text-align: center;
    padding-top: 5px;
    margin: 2px;
    width: 75%;
    height: 450px;
    background-color:rgba(148, 93, 78, 0.7);
}

div.footer{
    display: block;
    text-align: center;
    padding-top: 5px;
    margin: 2px;
    height: 120px;
    background-color: rgba(176,224,141,0.6)
}

/*Careteristicas de los titulos*/

h2.titulo_2{
    font-family: Arial;
    font-size:  20px;
    color: blue;
    
}

h3{
    font-family: cursive;
    font-size: 25px;
    color: rebeccapurple;
    
}

/*dimensionamiento de una imagen*/

article img{
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 10px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: -5px 3px black;
    margin-left: 40px;
}

article img:hover{
    height: 180px;
    width: 180px;
}

/* Esto es una prueba de como se hace un circulo*/
.circulo{
    width: 200px;
    height: 75px;
    background-color: rgb(226, 252, 247);
    border-radius: 50%;
    text-align: center;
    margin: auto;
    padding: 5px;

}